doctype html
html
 head
   title #{title}
  
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header
         h1 #{title}
   div
        img( src=`/imm/${project.Copertina}`)
        img(src=`/imm/${project.Copertina}`)
        img(src=`/imm/${project.Img1}`)
        img(src=`/imm/${project.Img2}`)
        img(src=`/imm/${project.Img3}`)